<% content_for :page_title do %>
  <%# Spree.t(:eposnow_products) %> <%# TODO Change to variants %>
  Epos Now Locations
<% end %>

<div class='row'>

  <div class="col-md-12">
    <table class='table'>
      <thead>
        <tr>
          <% @locations.first.keys.each do |x| %>
            <th><%= x %></th>
          <% end %>
          <th><%= ' ' %></th>
          <th><%= ' ' %></th>
        </tr>  
      </thead>
      <tbody>
        <% @locations.each do |x| %>
          <tr>
            <% x.values.each do |y| %>
              <td><%= y %></td>
            <% end %>
            <td>
              <%= link_to 'Edit', edit_admin_eposnow_location_path(x['LocationID']) %>
            </td>
            <td>
              <% if Spree::StockLocation.where(eposnow_location_id: x['LocationID'] ).first %>
                <%= link_to(
                      'Stock Location', 
                      #admin_stock_location_path(
                        # TODO I'm not sure admin_stock_location_path exists - it shouldn't be a route
                      edit_admin_stock_location_path(
                        Spree::StockLocation.where(eposnow_location_id: x['LocationID'] ).first
                      )
                    ) 
                %>
              <% else %>
                <i>Reference</i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

<div class='row'>
  <div class="col-md-12">
    <%# button_link_to 'Create New Customer', new_admin_eposnow_customer_path, { class: "btn-success", icon: 'add', id: 'admin_new_product' } %> 
  </div>
</div>