<% content_for :page_title do %>
  <%= Spree.t(:eposnow) %>
<% end %>

  <div id="preferences" data-hook>

    <fieldset class="general no-border-top">

      <%# fields_for :eposnow do |f| %>
        <div class="row">
          <div class="col-md-6">
            <!-- <div class="form-group" data-hook="admin_general_setting_api_key"> -->

            <%= form_tag admin_eposnow_path, method: :put do |f| %>
              <div class="form-group">
                <%= label_tag :eposnow_key %>
                <%= text_field_tag  :eposnow_key, 
                                    Spree::Config[:eposnow_key], 
                                    class: 'form-control' 
                %>
              </div>

              <div class="form-group">
                <%= label_tag :eposnow_secret %>
                <%= text_field_tag  :eposnow_secret, 
                                    Spree::Config[:eposnow_secret], 
                                    class: 'form-control'  
                %>
              </div>

              <div class="form-actions" data-hook="buttons">
                <%= button Spree.t('actions.update'), 'save' %>
                <span class="or"><%= Spree.t(:or) %></span>
                <%= button_link_to  Spree.t('actions.cancel'), 
                                    edit_admin_general_settings_url, icon: 'delete' 
                %>
              </div>  

              <%= link_to 'Documentation', 'http://developer.eposnowhq.com/Docs/Documentation' %> 

            <% end %> 
          
          </div>

          <div class="col-md-6">

            <aside data-hook="" class="main-right-sidebar" id="sidebar">
              <ul data-hook="admin_product_tabs" class="nav nav-pills nav-stacked">
              
                <li>
                  <%= link_to 'Products', admin_eposnow_eposnow_products_path %>
                </li>
                <li>
                  <%= link_to 'Customers', admin_eposnow_customers_path %>
                </li>
                <li>
                  <%= link_to 'StockControls', admin_eposnow_product_stocks_path %>
                </li>
                <li>
                  <%= link_to 'Locations', admin_eposnow_locations_path %>
                </li>                
                <li>
                  <%= link_to 'Transactions', transactions_admin_eposnow_path %>
                </li>
                <li>
                  <%= link_to 'Staff', staff_admin_eposnow_path %>
                </li>                                                            
              </ul> 

            </aside> 

          </div>        

        </div>

      <%# end %>

    </fieldset>

  </div>
