<% content_for :page_title do %>
  <%= Spree.t(:eposnow) %>
<% end %>


<%= form_tag admin_general_settings_path, method: :put do %>
  <div id="preferences" data-hook>

    <fieldset class="general no-border-top">

      <%= fields_for :eposnow do |f| %>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" data-hook="admin_general_setting_api_key">
              <%= f.label :api_key %>
              <%= f.text_field :api_key, class: 'form-control' %>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group" data-hook="admin_general_setting_input_api_secret">
              <%= f.label :api_secret %>
              <%= f.text_field :api_secret, class: 'form-control'  %>
            </div>
          </div>

        </div>

      <% end %>

      <div class="form-actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'save' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('actions.cancel'), edit_admin_general_settings_url, icon: 'delete' %>
      </div>

    </fieldset>

  </div>

<% end %>

<div class='row'>

  <ul class="col-md-6">
    <li>
      <%= link_to 'Product', products_admin_eposnow_index_path %>
    </li>
  </ul>

</div>
