<% content_for :page_title do %>
  <%= Spree.t(:eposnow_products) %> <%# TODO Change to variants %>
   - Showing <%= @products.length %> Products   
<% end %>

<% content_for :page_actions do %>
  <%= form_for [:admin, Spree::Eposnow::Product.new], 
                url: sync_all_admin_eposnow_eposnow_products_path,
                method: :post do |f| 
  %>
    <%= button Spree.t('actions.sync_all'), 'ok', 'submit', {class: 'btn-success'} %>
  <% end %>
<% end %>

<div class='row'>

  <div class="col-md-12">
    <table class='table'>
      <thead>
        <tr>
          <% @products.first.keys.each do |x| %>
            <th><%= x %></th>
          <% end %>
          <th><%= ' ' %></th>
        </tr>  
      </thead>
      <tbody>
        <% @products.each do |x| %>
          <tr>
            <% x.values.each do |y| %>
              <td><%= y %></td>
            <% end %>
            <td>
              <%= link_to_edit_url(
                    #product_admin_eposnow_path(x['ProductID']),
                    admin_eposnow_eposnow_product_path(x['ProductID']),
                    :no_text => true
                  )
              %>
            </td>            
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>