<% content_for :page_title do %>
  <%= link_to Spree.t(:products), admin_eposnow_products_path %> /
  <%= @product.Name %>
<% end %>

<div class='row'>

  <div class="col-md-6">

    <table class='table'>
      <% @product.keys.each do |key| %>
        <tr>
          <th>
            <%= key %>
          </th>
          <td>
            <%= @product.send(key) %>
          </td>
        </tr>
      <% end %>
    </table>

  </div>

  <div class='col-md-6'>

    <% if @variant %>
      <div class="panel panel-default documentation">
        <div class="panel-heading">
          <h1 class="panel-title">
            <%= @variant.name %>
          </h1>
        </div>

        <div class="panel-body">
          View <%= link_to @variant.name, stock_admin_product_path(@variant.product) %>
        </div>
      </div>    
    <% else %>
      <div class="panel panel-default documentation">
        <div class="panel-heading">
          <h1 class="panel-title">
            Warning
          </h1>
        </div>

        <div class="panel-body">
          You are missing a variant with an ePOSnow ID "<%= @product.ProductID %>".
        </div>
      </div>
    <% end %>

    <%= form_for [:admin, @product], 
                  url: sync_admin_eposnow_product_path(@product.ProductID), 
                  method: :patch do |f| 
    %>
      <%= button Spree.t('actions.sync'), 'ok', 'submit', {class: 'btn-success'} %>
    <% end %>    
  </div>

</div>