<% content_for :page_title do %>
  <%# Spree.t(:eposnow_products) %> <%# TODO Change to variants %>
  Epos Now Product Stocks (Showing <%= @product_stocks.length %>)
<% end %>

<% content_for :page_actions do %>
  <%# button_link_to 'Sync', sync_admin_eposnow_categories_path, class: "btn-success" %>
  <%= button_to 'Sync', sync_all_admin_eposnow_product_stocks_path, class: "btn btn-success" %>
<% end %>

<div class='row'>

  <div class="col-md-12">
    <table class='table'>
      <thead>
        <tr>
          <% Spree::Eposnow::ProductStock.index_keys.each do |x| %>
            <th><%= x %></th>
          <% end %>
          <th><%= ' ' %></th>
        </tr>
      </thead>
      <tbody>
        <% @product_stocks.each do |x| %>
          <tr>
            <%# x.values.each do |y| %>
            <%# Spree::Eposnow::ProductStock.index_keys.each do |y| %>
            <td><%= x['LocationID'] %></td>
            <td>
              <%# stock_admin_product_path(Spree::Product.find_by_epos_product_id(x['Product'])) %>
              <% product = Spree::Variant.find_by_eposnow_product_id(x['ProductID']).try(:product) %>

              <% if product %>
                <% url = stock_admin_product_path(product) %>
                <%= link_to(
                      truncate(product.name, length: 50), 
                      url, 
                      class: 'info', 
                      itemprop: "name", 
                      title: product.name
                    )
                %>
              <% else %>
                <b>Missing</b> 
                (<%= link_to(x['ProductID'], admin_eposnow_eposnow_product_path(x['ProductID'])) %>)
              <% end %>          
            </td>
            <td><%= x['CurrentStock'] %></td>
            <td><%= x['MinStock'] %></td>
            <td><%= x['MaxStock'] %></td>
            <td><%= x['CurrentVolume'] %></td>
            <td><%= x['OnOrder'] %></td>

              
            <%# end %>
            <td>
              <%# link_to_edit_url(
                    product_admin_eposnow_path(x['ProductID']),
                    :no_text => true
                  )
              %>
              <%= link_to_edit_url(
                    #product_admin_eposnow_path(x['ProductID']),
                    edit_admin_eposnow_product_stock_path( x['StockID'] ),
                    :no_text => true
                  )
              %>              
            </td>            
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>





<div class="row index-pagination-row">
  <div class="col-sm-6">

  </div>
  <div class="col-sm-6">
    <div class="pagination-wrap">
      <%= 
        button_link_to 'Next', admin_eposnow_product_stocks_path(page: params[:page].to_i+1),
                        {class: 'btn-default pull-right'}
      %>
    </div>
  </div>
</div>